<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Photo" tabIcon="camera"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="Galeria" tabIcon="images"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>--> 
</ion-tabs>
