<ion-header>
  <ion-navbar [color]="isAndroid ? 'royal' : 'primary'">
    <ion-title>Photos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <h2 align="center">Converta de 3D para 2D</h2>
  <button ion-button (click)="foto()" full color="dark" >
    <ion-icon name="camera"></ion-icon>Camera
  </button>
  <button ion-button (click)="galeria()" full color="success" >
      <ion-icon name="images"></ion-icon>Galeria
  </button>

  <ion-card>
        <!--Agora vou pegar a imagem que esta na minha variavel de ts e exibir aqui-->
    <img src="{{fotografia}}"/>
    <div class="card-title"></div>
    <div class="card-subtitle"></div>
  </ion-card>

</ion-content>